<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css" /> <!-- Enlace a style.css -->
    <title>About</title>
</head>

<body>
     <a href="/">Inicio</a>
	 <a href="/work/">Portfolio</a>
     <a href="/about/">Sobre mi</a>
     <a href="/contact/">Contact</a>    

<h1>About</h1>
<h2>Sobre mi</h2>
<p>Estoy trabajando en la construcción de este sitio web</p>

<p>Este sitio se irá actualizando amedida que avance con las clases</p>

</body>
</html>