---
import Card from "../components/Card.astro"
---


<!DOCTYPE html>
<html lang="ja" data-op-end="false">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css" /> <!-- Enlace a style.css -->
    <title>Demo portfolio</title>
    </head>

    <body>
         <a href="/">Inicio</a>
	     <a href="/work/">Portfolio</a>
         <a href="/about/">Sobre mi</a>
         <a href="/contact/">Contact</a>  
    
    <div class="bitcount-grid-single">
      <div class="item">Elemento 1</div>
      <div class="item">Elemento 2</div>
      <div class="item">Elemento 3</div>
      <!-- Agrega más elementos según sea necesario -->
    </div>
     
     <h1>Portfolio</h1>
     <p>que divertido y complicado es esto</p> 
    </body>
</html>