---
import Card from "../components/Card.astro"
---


<!DOCTYPE html>
<html lang="ja" data-op-end="false">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="/style.css" /> <!-- Enlace a style.css -->
        <link rel="preload" href="/images/meme_full.webp" as="image" type="image/webp" fetchpriority="high" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Demo portfolio</title>
    <meta name="description" content="descripcion del sitio web" />
    <link rel="canonical" href="https://collapsingproject.netlify.app/" />
    <link rel="sitemap" href="/sitemap.xml"/>
    <meta property="og:title" content="demo Portfolio" />
    <meta property="og:description" content="aqui debe de ir una descripcion" />
    <meta property="og:url" content="https://collapsingproject.netlify.app/" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="demo Portfolio" />
    <meta property="og:locale" content="" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="demo Portfolio" />
    <meta name="twitter:description" content="aqui no se supone que debe ir?" />
    <link rel="stylesheet" href="/style.css" /> <!-- Enlace a style.css -->
    <script type="module" src="/scripts/main.js" defer></script>


    </head>
    <body>
        <div class="_loading_xfgot_1" data-js="loading">
            <div class="_loadingMain_xfgot_10" data-js="loading-main">
                <p class="_loadingText_xfgot_33" data-js="loading-text">
                    <span>loading...</span>
                    <span data-js="loading-percent">0%</span>
                </p>
                <div class="_loadingProgress_xfgot_45"></div>
            </div>
            <div class="_loadingLinks_xfgot_71">
                <a href="https://x.com/osusi109/" class="_root_2nwwz_1" data-invert="false" target="_blank" rel="noreferrer">
                    <span class="_inner_2nwwz_27">
                        Twitter
                        <span class="_arrow_2nwwz_35">
                            <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                            </svg>
                        </span>
                    </span>
                </a>
                <a href="https://www.instagram.com/ichiki109/" class="_root_2nwwz_1" data-invert="false" target="_blank" rel="noreferrer">
                    <span class="_inner_2nwwz_27">
                        Instagram
                        <span class="_arrow_2nwwz_35">
                            <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                            </svg>
                        </span>
                    </span>
                </a>
            </div>
        </div>
        <div class="_frame_yk7yd_1" data-js="outer-frame">
            <svg width="0" height="0" viewBox="0 0 0 0" fill="none" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <mask id="mask">
                        <rect id="outer-rect-mask-bg" x="0" y="0" width="0" height="0" fill="white"></rect>
                        <rect class="_rectRadius_yk7yd_30" id="outer-rect-mask-body" x="0" y="0" width="0" height="0" fill="black"></rect>
                    </mask>
                </defs>
                <rect class="_rectBg_yk7yd_23" id="outer-rect-bg" x="0" y="0" width="0" height="0" fill="var(--color-bg)" mask="url(#mask)"></rect>
                <rect id="outer-rect-border" class="_rectRadius_yk7yd_30" x="0" y="0" width="0" height="0" stroke-width="1" fill="var(--color-bg)" fill-opacity="0" stroke="var(--color-border)" vector-effect="non-scaling-stroke"></rect>
            </svg>
        </div>
        <div class="_rightTop_yk7yd_45">
            <div class="_theme_yk7yd_65">
                <button class="_root_bi63f_1" data-color="light" data-js="theme-light" aria-label="lightモードに切り替える"></button>
                <button class="_root_bi63f_1" data-color="dark" data-js="theme-dark" aria-label="darkモードに切り替える"></button>
            </div>
            <p class="_clock_yk7yd_77">
                1<span class="_clockColon_yk7yd_92">:</span>
                09
            </p>
        </div>
        <button class="_button_2f0wn_1" aria-expanded="false" aria-controls="hamburger-menu" data-js="hamburger-button">
            <span class="_buttonLine_2f0wn_24"></span>
            <span class="_buttonLine_2f0wn_24"></span>
            <span class="_buttonLine_2f0wn_24"></span>
        </button>
        <div class="_menu_2f0wn_52" id="hamburger-menu" class="_menu_2f0wn_52" data-js="hamburger-menu" aria-hidden="true">
            <ul class="_list_2f0wn_73">
                <li>
                    <a href="/" class="_link_2f0wn_81" data-js="hamburger-menu-link">home </a>
                </li>
                <li>
                    <a href="/works/" class="_link_2f0wn_81" data-js="hamburger-menu-link">Works </a>
                </li>
                <li>
                    <a href="/profile/" class="_link_2f0wn_81" data-js="hamburger-menu-link">Profile </a>
                </li>
                <li>
                    <a href="/contact/" class="_link_2f0wn_81" data-js="hamburger-menu-link">Contact </a>
                </li>
            </ul>
            <div class="_line_2f0wn_100">
                <span class="_line_yr5zo_2"></span>
            </div>
            <ul class="_sns_2f0wn_74">
                <li>
                    <a href="https://x.com/osusi109/" class="_link_2f0wn_81" target="_blank" rel="noopener noreferrer" data-js="hamburger-menu-link">Twitter </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/ichiki109/" class="_link_2f0wn_81" target="_blank" rel="noopener noreferrer" data-js="hamburger-menu-link">Instagram </a>
                </li>
            </ul>
        </div>
        <div class="_wrapper_lwnf9_9" data-js="wrapper" tabindex="-1">
            <div class="_content_lwnf9_22" data-js="content">
                <header class="_header_10du9_1" data-js="header">
                    <a href="/" class="_logo_10du9_10">
                        <svg width="41" height="40" viewBox="0 0 41 40" fill="none" xmlns="http://www.w3.org/2000/svg" aria-label="1:09">
                            <path d="M16.186 5.55681H0.0167575C0.012313 5.55681 0.00805065 5.55504 0.00490794 5.5519C0.00176522 5.54876 0 5.54449 0 5.54005V0.0167583C0 0.0123138 0.00176522 0.00805145 0.00490794 0.00490874C0.00805065 0.00176602 0.012313 0 0.0167575 0H40.0398C40.0443 0 40.0485 0.00176602 40.0517 0.00490874C40.0548 0.00805145 40.0566 0.0123138 40.0566 0.0167583V5.54005C40.0566 5.54449 40.0548 5.54876 40.0517 5.5519C40.0485 5.55504 40.0443 5.55681 40.0398 5.55681H23.848C23.8452 5.55687 23.8423 5.55768 23.8399 5.55914C23.8374 5.56061 23.8353 5.56269 23.8339 5.56519L20.0314 12.151C20.03 12.1537 20.0279 12.1558 20.0253 12.1574C20.0227 12.1589 20.0198 12.1597 20.0168 12.1597C20.0138 12.1597 20.0108 12.1589 20.0083 12.1574C20.0057 12.1558 20.0035 12.1537 20.0021 12.151L16.2002 5.56519C16.1987 5.56269 16.1967 5.56061 16.1942 5.55914C16.1917 5.55768 16.1889 5.55687 16.186 5.55681Z" fill="currentColor"></path>
                            <path d="M18.4321 12.3909H0.0167575C0.012313 12.3909 0.00805065 12.3891 0.00490794 12.386C0.00176523 12.3829 0 12.3786 0 12.3741V6.93412C0 6.92967 0.00176523 6.92541 0.00490794 6.92227C0.00805065 6.91912 0.012313 6.91736 0.0167575 6.91736H15.1428C15.1457 6.91737 15.1484 6.91809 15.1509 6.91947C15.1534 6.92084 15.1555 6.92282 15.157 6.92521L18.4468 12.3652C18.4484 12.3678 18.4493 12.3708 18.4493 12.3738C18.4494 12.3768 18.4486 12.3798 18.4471 12.3825C18.4456 12.3851 18.4434 12.3873 18.4408 12.3888C18.4381 12.3902 18.4351 12.391 18.4321 12.3909Z" fill="currentColor"></path>
                            <path d="M24.9369 6.91736H40.0389C40.0412 6.91736 40.0435 6.91782 40.0457 6.91871C40.0478 6.91961 40.0498 6.92092 40.0515 6.92257C40.0531 6.92423 40.0544 6.92619 40.0553 6.92835C40.0562 6.93051 40.0567 6.93283 40.0567 6.93516V12.3731C40.0567 12.3754 40.0562 12.3777 40.0553 12.3799C40.0544 12.3821 40.0531 12.384 40.0515 12.3857C40.0498 12.3873 40.0478 12.3887 40.0457 12.3895C40.0435 12.3904 40.0412 12.3909 40.0389 12.3909H21.6481C21.645 12.3909 21.6418 12.3901 21.6391 12.3885C21.6363 12.3869 21.6341 12.3846 21.6325 12.3818C21.631 12.379 21.6302 12.3758 21.6303 12.3727C21.6303 12.3695 21.6313 12.3664 21.6329 12.3637L24.9217 6.92574C24.9233 6.92316 24.9255 6.92104 24.9282 6.91957C24.9308 6.91811 24.9338 6.91734 24.9369 6.91736Z" fill="currentColor"></path>
                            <path d="M40.0566 26.0303C40.0566 26.034 40.0551 26.0376 40.0524 26.0403C40.0498 26.0429 40.0462 26.0444 40.0424 26.0444H0.0141397C0.0103897 26.0444 0.00679328 26.0429 0.00414162 26.0403C0.00148996 26.0376 0 26.034 0 26.0303V13.6085C0 13.6047 0.00148996 13.6012 0.00414162 13.5985C0.00679328 13.5958 0.0103897 13.5944 0.0141397 13.5944H40.0424C40.0462 13.5944 40.0498 13.5958 40.0524 13.5985C40.0551 13.6012 40.0566 13.6047 40.0566 13.6085V26.0303ZM34.0106 19.1737C34.0106 19.1688 34.0087 19.1642 34.0053 19.1607C34.0018 19.1573 33.9972 19.1554 33.9923 19.1554H6.14805C6.14319 19.1554 6.13852 19.1573 6.13509 19.1607C6.13165 19.1642 6.12972 19.1688 6.12972 19.1737V20.4525C6.12972 20.4574 6.13165 20.462 6.13509 20.4655C6.13852 20.4689 6.14319 20.4709 6.14805 20.4709H33.9923C33.9972 20.4709 34.0018 20.4689 34.0053 20.4655C34.0087 20.462 34.0106 20.4574 34.0106 20.4525V19.1737Z" fill="currentColor"></path>
                            <path d="M7.75052 34.4222V27.5661C7.75052 27.5615 7.75234 27.5571 7.75558 27.5539C7.75882 27.5507 7.76322 27.5488 7.7678 27.5488H40.0393C40.0439 27.5488 40.0483 27.5507 40.0515 27.5539C40.0548 27.5571 40.0566 27.5615 40.0566 27.5661V39.9827C40.0566 39.9872 40.0548 39.9916 40.0515 39.9949C40.0483 39.9981 40.0439 39.9999 40.0393 39.9999H0.0172817C0.0126983 39.9999 0.00830228 39.9981 0.00506136 39.9949C0.00182044 39.9916 0 39.9872 0 39.9827V27.5661C0 27.5615 0.00182044 27.5571 0.00506136 27.5539C0.00830228 27.5507 0.0126983 27.5488 0.0172817 27.5488H6.11244C6.11702 27.5488 6.12142 27.5507 6.12466 27.5539C6.1279 27.5571 6.12972 27.5615 6.12972 27.5661V34.4222C6.12972 34.4244 6.13016 34.4267 6.13103 34.4288C6.1319 34.4309 6.13318 34.4328 6.13478 34.4344C6.13639 34.436 6.13829 34.4373 6.14039 34.4381C6.14248 34.439 6.14473 34.4395 6.147 34.4395H7.73324C7.73782 34.4395 7.74222 34.4376 7.74546 34.4344C7.7487 34.4312 7.75052 34.4268 7.75052 34.4222ZM34.0117 33.1412C34.0117 33.139 34.0112 33.1367 34.0104 33.1346C34.0095 33.1325 34.0082 33.1306 34.0066 33.129C34.005 33.1274 34.0031 33.1262 34.001 33.1253C33.9989 33.1244 33.9967 33.124 33.9944 33.124H13.7991C13.7945 33.124 13.7901 33.1258 13.7868 33.129C13.7836 33.1323 13.7818 33.1367 13.7818 33.1412V34.4222C13.7818 34.4244 13.7822 34.4267 13.7831 34.4288C13.784 34.4309 13.7852 34.4328 13.7868 34.4344C13.7885 34.436 13.7904 34.4373 13.7925 34.4381C13.7946 34.439 13.7968 34.4395 13.7991 34.4395H33.9944C33.9967 34.4395 33.9989 34.439 34.001 34.4381C34.0031 34.4373 34.005 34.436 34.0066 34.4344C34.0082 34.4328 34.0095 34.4309 34.0104 34.4288C34.0112 34.4267 34.0117 34.4244 34.0117 34.4222V33.1412Z" fill="currentColor"></path>
                        </svg>
                    </a>
                    <nav class="_menu_10du9_25" data-js="header-menu">
                        <ul class="_menuList_10du9_44">
                            <li class="_menuItem_10du9_55" data-js="header-menu-item" data-id="index">
                                <a href="/" class="_menuLink_10du9_60">home </a>
                            </li>
                            <li class="_menuItem_10du9_55" data-js="header-menu-item" data-id="works">
                                <a href="/works/" class="_menuLink_10du9_60">Works </a>
                            </li>
                            <li class="_menuItem_10du9_55" data-js="header-menu-item" data-id="profile">
                                <a href="/profile/" class="_menuLink_10du9_60">Profile </a>
                            </li>
                            <li class="_menuItem_10du9_55" data-js="header-menu-item" data-id="contact">
                                <a href="/contact/" class="_menuLink_10du9_60">Contact </a>
                            </li>
                        </ul>
                        <div class="_menuCurrent_10du9_68" data-js="header-menu-current"></div>
                    </nav>
                    <ul class="_sns_10du9_86">
                        <li>
                            <a href="https://x.com/osusi109/" class="_root_2nwwz_1" data-invert="true" target="_blank" rel="noreferrer">
                                <span class="_inner_2nwwz_27">
                                    Twitter
                                    <span class="_arrow_2nwwz_35">
                                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/ichiki109/" class="_root_2nwwz_1" data-invert="true" target="_blank" rel="noreferrer">
                                <span class="_inner_2nwwz_27">
                                    Instagram
                                    <span class="_arrow_2nwwz_35">
                                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </header>
                <main id="swup" class="_main_lwnf9_28" data-js="main">
                    <div class="_page_1fs6u_1">
                        <div class="_kv_1fs6u_6" data-js="index-kv">
                            <div class="_kvInner_1fs6u_14">
                                <div class="_kvContent_1fs6u_30">
                                    <div class="_title_1fs6u_47">
                                        <h1 class="_titleMain_1fs6u_56">
                                            1:09<br>
                                            illustration<br>portfolio

                                        </h1>
                                        <span class="_barcode_iyu6r_1" aria-hidden="true" translate="no" text="portfolio">portfolio</span>
                                    </div>
                                    <div class="_kvSns_1fs6u_62">
                                        <a href="https://x.com/osusi109/" class="_root_2nwwz_1" data-invert="true" target="_blank" rel="noreferrer">
                                            <span class="_inner_2nwwz_27">
                                                Twitter
                                                <span class="_arrow_2nwwz_35">
                                                    <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                    </svg>
                                                </span>
                                            </span>
                                        </a>
                                        <a href="https://www.instagram.com/ichiki109/" class="_root_2nwwz_1" data-invert="true" target="_blank" rel="noreferrer">
                                            <span class="_inner_2nwwz_27">
                                                Instagram
                                                <span class="_arrow_2nwwz_35">
                                                    <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                    </svg>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="_kvDialogWrapper_1fs6u_197">
                                    <div class="_kvDialog_1fs6u_113" data-js="index-kv-dialog">
                                        <div class="_kvDialogInner_1fs6u_277" data-js="index-kv-dialog-inner">
                                            <div class="_root_3fli2_1" data-js="dialog-box">
                                                <div class="_inner_3fli2_23">
                                                    <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                        <h2 class="_title_3fli2_59">meme.webp</h2>
                                                        <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                            <span class="_closeInner_3fli2_91"></span>
                                                        </button>
                                                    </div>
                                                    <div class="_body_3fli2_117">
                                                        <div class="_kvDialogBody_1fs6u_282" data-js="index-kv-dialog-body">
                                                            <div class="_kvDialogImage_1fs6u_113">
                                                                <img src="/images/meme_full.webp" data-load-image alt="" fetchpriority="high" loading="eager">
                                                            </div>
                                                            <div class="_kvDialogImagePc_1fs6u_293">
                                                                <img src="/images/meme_full.webp" data-load-image alt="" fetchpriority="high" loading="eager">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_kvDialog_1fs6u_113" data-js="index-kv-dialog">
                                        <div class="_kvDialogInner_1fs6u_277" data-js="index-kv-dialog-inner">
                                            <div class="_root_3fli2_1" data-js="dialog-box">
                                                <div class="_inner_3fli2_23">
                                                    <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                        <h2 class="_title_3fli2_59">meme.webp</h2>
                                                        <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                            <span class="_closeInner_3fli2_91"></span>
                                                        </button>
                                                    </div>
                                                    <div class="_body_3fli2_117">
                                                        <div class="_kvDialogBody_1fs6u_282" data-js="index-kv-dialog-body">
                                                            <div class="_kvDialogImage_1fs6u_113">
                                                                <img src="/images/meme_full.webp" data-load-image alt="" fetchpriority="high" loading="eager">
                                                            </div>
                                                            <div class="_kvDialogImagePc_1fs6u_293">
                                                                <img src="/images/meme_full.webp" data-load-image alt="" fetchpriority="high" loading="eager">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_kvDialog_1fs6u_113" data-js="index-kv-dialog">
                                        <div class="_kvDialogInner_1fs6u_277" data-js="index-kv-dialog-inner">
                                            <div class="_root_3fli2_1" data-js="dialog-box">
                                                <div class="_inner_3fli2_23">
                                                    <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                        <h2 class="_title_3fli2_59">meme.webp</h2>
                                                        <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                            <span class="_closeInner_3fli2_91"></span>
                                                        </button>
                                                    </div>
                                                    <div class="_body_3fli2_117">
                                                        <div class="_kvDialogBody_1fs6u_282" data-js="index-kv-dialog-body">
                                                            <div class="_kvDialogImage_1fs6u_113">
                                                                <img src="/images/meme_full.webp" data-load-image alt="" fetchpriority="high" loading="eager">
                                                            </div>
                                                            <div class="_kvDialogImagePc_1fs6u_293">
                                                                <img src="/images/meme_full.webp" data-load-image alt="" fetchpriority="high" loading="eager">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_kvDialog_1fs6u_113" data-js="index-kv-dialog">
                                        <div class="_kvDialogInner_1fs6u_277" data-js="index-kv-dialog-inner">
                                            <div class="_root_3fli2_1" data-js="dialog-box">
                                                <div class="_inner_3fli2_23">
                                                    <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                        <h2 class="_title_3fli2_59">meme.webp</h2>
                                                        <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                            <span class="_closeInner_3fli2_91"></span>
                                                        </button>
                                                    </div>
                                                    <div class="_body_3fli2_117">
                                                        <div class="_kvDialogBody_1fs6u_282" data-js="index-kv-dialog-body">
                                                            <div class="_kvDialogImage_1fs6u_113">
                                                                <img src="/images/meme_full.webp" data-load-image alt="" fetchpriority="high" loading="eager">
                                                            </div>
                                                            <div class="_kvDialogImagePc_1fs6u_293">
                                                                <img src="/images/meme_full.webp" data-load-image alt="" fetchpriority="high" loading="eager">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="_kvImages_1fs6u_99" data-js="index-kv-images">
                                    <div class="_kvMainImage_1fs6u_112" data-js="index-kv-main-image">
                                        <img src="/images/meme_full.webp" alt="" fetchpriority="high" loading="eager">
                                    </div>
                                    <div class="_kvPcImage_1fs6u_172" data-js="index-kv-pc-image">
                                        <img src="/images/meme_full.webp" alt="" fetchpriority="high" loading="eager">
                                    </div>
                                </div>
                                <div class="_kvGrid_1fs6u_86" data-js="index-kv-grid">
                                    <div class="_wrapper_oc6qz_1" data-js="grid" data-outline="true" data-common="false">
                                        <canvas></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="_kvGL_1fs6u_308">
                            <div class="_glWrapper_1efiv_1" data-js="gl-index-kv">
                                <canvas></canvas>
                            </div>
                        </div>
                        <section class="_event_1fs6u_363">
                            <div class="_heading_1fs6u_332">
                                <div class="_root_1ppyp_1" data-js="heading">
                                    <h2 class="_main_1ppyp_6" data-js="heading-text" translate="no">event</h2>
                                    <div class="_barcode_1ppyp_30">
                                        <span class="_barcode_iyu6r_1" aria-hidden="true" translate="no" text="event" data-js="heading-barcode">event</span>
                                    </div>
                                </div>
                                <div class="_headingDesc_1fs6u_336">
                                    <p>イベントなどのスケジュールを更新しています。</p>
                                    <p>
                                        より最新の情報は<a href="https://x.com/osusi109" target="_blank" rel="noreferrer">Twitter(X)</a>
                                        を見てください。
                                    </p>
                                </div>
                            </div>
                            <p class="_sectionLabel_1fs6u_351">(schedule)</p>
                            <div class="_eventBody_1fs6u_374">
                                <ul class="_eventList_1fs6u_386">
                                    <li class="_eventItem_1fs6u_396">
                                        <div class="_root_1o6wp_1" data-js="index-event-card">
                                            <div class="_body_1o6wp_16">
                                                <div class="_date_1o6wp_20">
                                                    <time datetime="2025.09.13">2025.09.13</time>
                                                    <span>-</span>
                                                    <time datetime="2025.09.15">2025.09.15</time>
                                                </div>
                                                <h3 class="_title_1o6wp_25">かわいいは⚪︎⚪︎展</h3>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="_eventItem_1fs6u_396">
                                        <div class="_root_1o6wp_1" data-js="index-event-card">
                                            <div class="_body_1o6wp_16">
                                                <div class="_date_1o6wp_20">
                                                    <time datetime="2025.10.04">2025.10.04</time>
                                                    <span>-</span>
                                                    <time datetime="2025.10.05">2025.10.05</time>
                                                </div>
                                                <h3 class="_title_1o6wp_25">ハマクリ</h3>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="_eventItem_1fs6u_396">
                                        <div class="_root_1o6wp_1" data-js="index-event-card">
                                            <div class="_body_1o6wp_16">
                                                <div class="_date_1o6wp_20">
                                                    <time datetime="2025.11.15">2025.11.15</time>
                                                    <span>-</span>
                                                    <time datetime="2025.11.16">2025.11.16</time>
                                                </div>
                                                <h3 class="_title_1o6wp_25">デザインフェスタ</h3>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="_eventDeco_1fs6u_407">
                                    <div class="_eventGrid_1fs6u_428">
                                        <div class="_wrapper_oc6qz_1" data-js="grid" data-outline="false" data-common="false">
                                            <canvas></canvas>
                                        </div>
                                    </div>
                                    <div class="_eventSticker1_1fs6u_440" data-js="sticker">
                                        <img src="/images/sticker_05.png" alt="">
                                    </div>
                                    <div class="_eventSticker2_1fs6u_441" data-js="sticker">
                                        <img src="/images/sticker_06.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="_section_1fs6u_320">
                            <div class="_heading_1fs6u_332">
                                <div class="_root_1ppyp_1" data-js="heading">
                                    <h2 class="_main_1ppyp_6" data-js="heading-text" translate="no">works</h2>
                                    <div class="_barcode_1ppyp_30">
                                        <span class="_barcode_iyu6r_1" aria-hidden="true" translate="no" text="works" data-js="heading-barcode">works</span>
                                    </div>
                                </div>
                                <div class="_headingDesc_1fs6u_336">
                                    <p>イラストだけでなく、MVイラストやグッズ制作など</p>
                                    <p>幅広いジャンルの制作を得意としています。</p>
                                </div>
                            </div>
                            <p class="_sectionLabel_1fs6u_351">(my skills)</p>
                            <section data-js="index-service">
                                <div class="_serviceSticky_1fs6u_486">
                                    <div class="_serviceDisplay_1fs6u_495" data-status="playing" data-js="index-service-display">
                                        <div class="_serviceText_1fs6u_511">
                                            <div class="_serviceLeftTop_1fs6u_528">
                                                <h3 class="_serviceHeading_1fs6u_534">works category</h3>
                                                <div class="_serviceIdWrapper_1fs6u_551">
                                                    <p class="_serviceId_1fs6u_551" data-js="index-service-id" data-current="false">
                                                        1: illustration 
                                                        <span class="_serviceIdCurrent_1fs6u_562">
                                                            <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                            </svg>
                                                        </span>
                                                    </p>
                                                    <p class="_serviceId_1fs6u_551" data-js="index-service-id" data-current="false">
                                                        2: mv-illustration 
                                                        <span class="_serviceIdCurrent_1fs6u_562">
                                                            <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                            </svg>
                                                        </span>
                                                    </p>
                                                    <p class="_serviceId_1fs6u_551" data-js="index-service-id" data-current="false">
                                                        3: event 
                                                        <span class="_serviceIdCurrent_1fs6u_562">
                                                            <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                            </svg>
                                                        </span>
                                                    </p>
                                                    <p class="_serviceId_1fs6u_551" data-js="index-service-id" data-current="false">
                                                        4: goods 
                                                        <span class="_serviceIdCurrent_1fs6u_562">
                                                            <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                            </svg>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <p class="_serviceStatus_1fs6u_658" data-js="index-service-status">
                                                <span class="_serviceStatusPlay_1fs6u_685">play</span>
                                                <span class="_serviceStatusPause_1fs6u_686">pause</span>
                                            </p>
                                            <p class="_serviceTime_1fs6u_722" data-js="index-service-time">00:00:00:00
</p>
                                            <div class="_serviceIcon_1fs6u_728" data-js="index-service-icon"></div>
                                        </div>
                                        <div class="_serviceDialog_1fs6u_586" style="--_index:0" data-js="index-service-item" data-visible="false" data-images="https://cdn.sanity.io/images/mnez70cy/production/43b13694774d54726ce3d8dd9e5d73153be05622-4000x4000.png?w=1200&auto=format,https://cdn.sanity.io/images/mnez70cy/production/9a9a6675c0e35331eae4d2a0a1703746f2c42dc6-4000x4000.png?w=1200&auto=format">
                                            <div class="_serviceDialogInner_1fs6u_601">
                                                <div class="_root_3fli2_1" data-js="dialog-box">
                                                    <div class="_inner_3fli2_23">
                                                        <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                            <h2 class="_title_3fli2_59">category_01</h2>
                                                            <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                                <span class="_closeInner_3fli2_91"></span>
                                                            </button>
                                                        </div>
                                                        <div class="_body_3fli2_117">
                                                            <div class="_serviceDialogBody_1fs6u_613">
                                                                <h4 class="_serviceTitle_1fs6u_624">イラスト</h4>
                                                                <div class="_serviceDesc_1fs6u_629">
                                                                    <p>蛍光色やパキッとしたラインが好き。</p>
                                                                    <p>人物メインのインパクトのある絵を制作。</p>
                                                                </div>
                                                                <div class="_serviceLink_1fs6u_643">
                                                                    <a href="/works/?category=illustration" class="_root_2nwwz_1" data-invert="true">
                                                                        <span class="_inner_2nwwz_27">
                                                                            イラスト一覧へ
                                                                            <span class="_arrow_2nwwz_35">
                                                                                <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                    <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                                                </svg>
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                                <div class="_serviceBarcode_1fs6u_648">
                                                                    <span class="_barcode_iyu6r_1" aria-hidden="true" translate="no" text="category1">category1</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_serviceDialog_1fs6u_586" style="--_index:1" data-js="index-service-item" data-visible="false" data-images="https://cdn.sanity.io/images/mnez70cy/production/dc8d9b8c076853fe9270a62314ae187ec95c79ca-1825x1026.png?w=1200&auto=format,https://cdn.sanity.io/images/mnez70cy/production/9eadb2a992d8575ac065c520e48e73b15ba8e1ec-3072x4096.png?w=1200&auto=format">
                                            <div class="_serviceDialogInner_1fs6u_601">
                                                <div class="_root_3fli2_1" data-js="dialog-box">
                                                    <div class="_inner_3fli2_23">
                                                        <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                            <h2 class="_title_3fli2_59">category_02</h2>
                                                            <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                                <span class="_closeInner_3fli2_91"></span>
                                                            </button>
                                                        </div>
                                                        <div class="_body_3fli2_117">
                                                            <div class="_serviceDialogBody_1fs6u_613">
                                                                <h4 class="_serviceTitle_1fs6u_624">MVイラスト</h4>
                                                                <div class="_serviceDesc_1fs6u_629">
                                                                    <p>
                                                                        ボカロやCover動画の<br/>MVイラストを描きます。
                                                                    </p>
                                                                </div>
                                                                <div class="_serviceLink_1fs6u_643">
                                                                    <a href="/works/?category=mv-illustration" class="_root_2nwwz_1" data-invert="true">
                                                                        <span class="_inner_2nwwz_27">
                                                                            MVイラスト一覧へ
                                                                            <span class="_arrow_2nwwz_35">
                                                                                <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                    <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                                                </svg>
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                                <div class="_serviceBarcode_1fs6u_648">
                                                                    <span class="_barcode_iyu6r_1" aria-hidden="true" translate="no" text="category2">category2</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_serviceDialog_1fs6u_586" style="--_index:2" data-js="index-service-item" data-visible="false" data-images="https://cdn.sanity.io/images/mnez70cy/production/8334b939bd88b99e05b4fdfc624bbc17f969f24b-2627x4096.png?w=1200&auto=format,https://cdn.sanity.io/images/mnez70cy/production/9433127a48fed721b4f2f0820acb629eee53591a-1452x2048.png?w=1200&auto=format,https://cdn.sanity.io/images/mnez70cy/production/31225acba2aec69734b2782d0cf4277f580fd338-1523x1077.png?w=1200&auto=format">
                                            <div class="_serviceDialogInner_1fs6u_601">
                                                <div class="_root_3fli2_1" data-js="dialog-box">
                                                    <div class="_inner_3fli2_23">
                                                        <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                            <h2 class="_title_3fli2_59">category_03</h2>
                                                            <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                                <span class="_closeInner_3fli2_91"></span>
                                                            </button>
                                                        </div>
                                                        <div class="_body_3fli2_117">
                                                            <div class="_serviceDialogBody_1fs6u_613">
                                                                <h4 class="_serviceTitle_1fs6u_624">イベント</h4>
                                                                <div class="_serviceDesc_1fs6u_629">
                                                                    <p>
                                                                        イベントや展示など、<br/>東京でたくさん活動しています。
                                                                    </p>
                                                                </div>
                                                                <div class="_serviceLink_1fs6u_643">
                                                                    <a href="/works/?category=event" class="_root_2nwwz_1" data-invert="true">
                                                                        <span class="_inner_2nwwz_27">
                                                                            イベント一覧へ
                                                                            <span class="_arrow_2nwwz_35">
                                                                                <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                    <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                                                </svg>
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                                <div class="_serviceBarcode_1fs6u_648">
                                                                    <span class="_barcode_iyu6r_1" aria-hidden="true" translate="no" text="category3">category3</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_serviceDialog_1fs6u_586" style="--_index:3" data-js="index-service-item" data-visible="false" data-images="">
                                            <div class="_serviceDialogInner_1fs6u_601">
                                                <div class="_root_3fli2_1" data-js="dialog-box">
                                                    <div class="_inner_3fli2_23">
                                                        <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                            <h2 class="_title_3fli2_59">category_04</h2>
                                                            <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                                <span class="_closeInner_3fli2_91"></span>
                                                            </button>
                                                        </div>
                                                        <div class="_body_3fli2_117">
                                                            <div class="_serviceDialogBody_1fs6u_613">
                                                                <h4 class="_serviceTitle_1fs6u_624">グッズ</h4>
                                                                <div class="_serviceDesc_1fs6u_629">
                                                                    <p>
                                                                        オリジナルキャラクター「もちうさ」をはじめ、<br/>いろいろなグッズを作っています。
                                                                    </p>
                                                                </div>
                                                                <div class="_serviceLink_1fs6u_643">
                                                                    <a href="/works/?category=goods" class="_root_2nwwz_1" data-invert="true">
                                                                        <span class="_inner_2nwwz_27">
                                                                            グッズ一覧へ
                                                                            <span class="_arrow_2nwwz_35">
                                                                                <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                    <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                                                </svg>
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </div>
                                                                <div class="_serviceBarcode_1fs6u_648">
                                                                    <span class="_barcode_iyu6r_1" aria-hidden="true" translate="no" text="category4">category4</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_serviceGl_1fs6u_789">
                                            <div class="_glWrapper_1efiv_1" data-js="gl-index-service">
                                                <canvas></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_serviceFrame_1fs6u_799">
                                        <span class="_wrapper_zpylq_1" data-js="dashed-cross">
                                            <span class="_line1_zpylq_8">
                                                <span class="_line_yr5zo_2"></span>
                                            </span>
                                            <span class="_line2_zpylq_9">
                                                <span class="_line_yr5zo_2"></span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="_serviceScroll_1fs6u_823">
                                    <div class="_serviceScrollItem_1fs6u_827" data-js="index-service-scroll-item"></div>
                                    <div class="_serviceScrollItem_1fs6u_827" data-js="index-service-scroll-item"></div>
                                    <div class="_serviceScrollItem_1fs6u_827" data-js="index-service-scroll-item"></div>
                                    <div class="_serviceScrollItem_1fs6u_827" data-js="index-service-scroll-item"></div>
                                </div>
                            </section>
                            <div class="_pickup_1fs6u_832">
                                <section>
                                    <h3 class="_heading_o1ekn_1">(pickup works)</h3>
                                    <ul class="_list_o1ekn_7">
                                        <li class="_item_o1ekn_11">
                                            <a href="/works/mhm/" class="_pickupCard_o1ekn_15">
                                                <h4 class="_title_o1ekn_41">イラスト本表紙</h4>
                                                <ul class="_tags_o1ekn_46">
                                                    <li class="_tag_o1ekn_46">イラスト</li>
                                                    <li class="_tag_o1ekn_46">オリジナル</li>
                                                </ul>
                                                <div class="_image_o1ekn_67">
                                                    <picture>
                                                        <source media="(max-width: 768px)" srcset="https://cdn.sanity.io/images/mnez70cy/production/72c044e125fc905555403bd4c3838ece61a35bd9-5182x2591.png?w=200&auto=format">
                                                        <img src="https://cdn.sanity.io/images/mnez70cy/production/72c044e125fc905555403bd4c3838ece61a35bd9-5182x2591.png?w=400&auto=format" width="5182" height="2591" loading="lazy">
                                                    </picture>
                                                </div>
                                                <div class="_icon_o1ekn_26">
                                                    <div class="_iconArrow_o1ekn_104">
                                                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="_item_o1ekn_11">
                                            <a href="/works/222109/" class="_pickupCard_o1ekn_15">
                                                <h4 class="_title_o1ekn_41">猫の日、アベイルTシャツイラスト</h4>
                                                <ul class="_tags_o1ekn_46">
                                                    <li class="_tag_o1ekn_46">イラスト</li>
                                                    <li class="_tag_o1ekn_46">オリジナル</li>
                                                </ul>
                                                <div class="_image_o1ekn_67">
                                                    <picture>
                                                        <source media="(max-width: 768px)" srcset="https://cdn.sanity.io/images/mnez70cy/production/e2073ce8e42481b4370e542ea1f8017528098666-2048x1635.jpg?w=200&auto=format">
                                                        <img src="https://cdn.sanity.io/images/mnez70cy/production/e2073ce8e42481b4370e542ea1f8017528098666-2048x1635.jpg?w=400&auto=format" width="2048" height="1635" loading="lazy">
                                                    </picture>
                                                </div>
                                                <div class="_icon_o1ekn_26">
                                                    <div class="_iconArrow_o1ekn_104">
                                                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="_item_o1ekn_11">
                                            <a href="/works/BLACKmeme/" class="_pickupCard_o1ekn_15">
                                                <h4 class="_title_o1ekn_41">memeイラスト</h4>
                                                <ul class="_tags_o1ekn_46">
                                                    <li class="_tag_o1ekn_46">イラスト</li>
                                                    <li class="_tag_o1ekn_46">オリジナル</li>
                                                </ul>
                                                <div class="_image_o1ekn_67">
                                                    <picture>
                                                        <source media="(max-width: 768px)" srcset="https://cdn.sanity.io/images/mnez70cy/production/d7268ebfac59e03475c4fe0f684aea2046707faa-1222x2048.jpg?w=200&auto=format">
                                                        <img src="https://cdn.sanity.io/images/mnez70cy/production/d7268ebfac59e03475c4fe0f684aea2046707faa-1222x2048.jpg?w=400&auto=format" width="1222" height="2048" loading="lazy">
                                                    </picture>
                                                </div>
                                                <div class="_icon_o1ekn_26">
                                                    <div class="_iconArrow_o1ekn_104">
                                                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="_item_o1ekn_11">
                                            <a href="/works/ikebukuro109/" class="_pickupCard_o1ekn_15">
                                                <h4 class="_title_o1ekn_41">池袋emotions2022</h4>
                                                <ul class="_tags_o1ekn_46">
                                                    <li class="_tag_o1ekn_46">イラスト</li>
                                                    <li class="_tag_o1ekn_46">お仕事</li>
                                                </ul>
                                                <div class="_image_o1ekn_67">
                                                    <picture>
                                                        <source media="(max-width: 768px)" srcset="https://cdn.sanity.io/images/mnez70cy/production/ed752f5937823ab3123b823bdbe44df3168cec7d-1536x2048.jpg?w=200&auto=format">
                                                        <img src="https://cdn.sanity.io/images/mnez70cy/production/ed752f5937823ab3123b823bdbe44df3168cec7d-1536x2048.jpg?w=400&auto=format" width="1536" height="2048" loading="lazy">
                                                    </picture>
                                                </div>
                                                <div class="_icon_o1ekn_26">
                                                    <div class="_iconArrow_o1ekn_104">
                                                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="_item_o1ekn_11">
                                            <a href="/works/meidonohi/" class="_pickupCard_o1ekn_15">
                                                <h4 class="_title_o1ekn_41">メイドの日</h4>
                                                <ul class="_tags_o1ekn_46">
                                                    <li class="_tag_o1ekn_46">イラスト</li>
                                                    <li class="_tag_o1ekn_46">オリジナル</li>
                                                </ul>
                                                <div class="_image_o1ekn_67">
                                                    <picture>
                                                        <source media="(max-width: 768px)" srcset="https://cdn.sanity.io/images/mnez70cy/production/24705bf5967b63163af0a312fb8c5c79f71448e4-2304x3072.png?w=200&auto=format">
                                                        <img src="https://cdn.sanity.io/images/mnez70cy/production/24705bf5967b63163af0a312fb8c5c79f71448e4-2304x3072.png?w=400&auto=format" width="2304" height="3072" loading="lazy">
                                                    </picture>
                                                </div>
                                                <div class="_icon_o1ekn_26">
                                                    <div class="_iconArrow_o1ekn_104">
                                                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="_item_o1ekn_11">
                                            <a href="/works/y2k-nui/" class="_pickupCard_o1ekn_15">
                                                <h4 class="_title_o1ekn_41">Y2Kぬい展</h4>
                                                <ul class="_tags_o1ekn_46">
                                                    <li class="_tag_o1ekn_46">イベント</li>
                                                    <li class="_tag_o1ekn_46">オリジナル</li>
                                                </ul>
                                                <div class="_image_o1ekn_67">
                                                    <picture>
                                                        <source media="(max-width: 768px)" srcset="https://cdn.sanity.io/images/mnez70cy/production/8334b939bd88b99e05b4fdfc624bbc17f969f24b-2627x4096.png?w=200&auto=format">
                                                        <img src="https://cdn.sanity.io/images/mnez70cy/production/8334b939bd88b99e05b4fdfc624bbc17f969f24b-2627x4096.png?w=400&auto=format" width="2627" height="4096" loading="lazy">
                                                    </picture>
                                                </div>
                                                <div class="_icon_o1ekn_26">
                                                    <div class="_iconArrow_o1ekn_104">
                                                        <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="_all_o1ekn_115">
                                        <a href="/works/" class="_root_12qde_1">
                                            <span class="_inner_12qde_21">
                                                すべて見る
                                                <span class="_arrow_12qde_28">
                                                    <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                    </svg>
                                                </span>
                                            </span>
                                        </a>
                                    </div>
                                </section>
                            </div>
                        </section>
                        <section class="_profile_1fs6u_836">
                            <div class="_profileContent_1fs6u_858">
                                <div class="_root_1ppyp_1" data-js="heading">
                                    <h2 class="_main_1ppyp_6" data-js="heading-text" translate="no">profile</h2>
                                    <div class="_barcode_1ppyp_30">
                                        <span class="_barcode_iyu6r_1" aria-hidden="true" translate="no" text="profile" data-js="heading-barcode">profile</span>
                                    </div>
                                </div>
                                <p class="_profileName_1fs6u_873">1:09</p>
                                <div class="_profileDesc_1fs6u_883">
                                    <p>フリーのイラストレーターの1:09(いちき)です。</p>
                                    <p>東京を中心に活動、イベント出展多数。</p>
                                    <p>蛍光色とハッキリとした線のイラストを主に制作。</p>
                                    <p>ぬいぐるみやアパレル、グッズデザインなど幅広く活動しています。</p>
                                </div>
                                <div class="_profileMore_1fs6u_887">
                                    <a href="/profile/" class="_root_12qde_1">
                                        <span class="_inner_12qde_21">
                                            もっと見る
                                            <span class="_arrow_12qde_28">
                                                <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M7.10603 8.30204L6.19403 7.39004L7.82803 5.75604L8.77803 4.95804L8.75903 4.90104L6.93503 5.01504H0.551025V3.72304H6.93503L8.75903 3.83704L8.77803 3.78004L7.82803 2.98204L6.19403 1.34804L7.10603 0.436035L11.039 4.36904L7.10603 8.30204Z" fill="currentColor"></path>
                                                </svg>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="_profileDeco_1fs6u_892">
                                <div class="_profileDecoMain_1fs6u_911">
                                    <div class="_profileGrid_1fs6u_922">
                                        <div class="_wrapper_oc6qz_1" data-js="grid" data-outline="false" data-common="false">
                                            <canvas></canvas>
                                        </div>
                                    </div>
                                    <div class="_profileSticker1_1fs6u_995" data-js="sticker">
                                        <img src="/images/sticker_01.jpg" alt="">
                                    </div>
                                    <div class="_profileSticker2_1fs6u_996" data-js="sticker">
                                        <img src="/images/sticker_02.jpg" alt="">
                                    </div>
                                    <div class="_profileSticker3_1fs6u_997" data-js="sticker">
                                        <img src="/images/sticker_03.jpg" alt="">
                                    </div>
                                </div>
                                <div class="_profileDecoSub_1fs6u_928">
                                    <span class="_wrapper_zpylq_1" data-js="dashed-cross">
                                        <span class="_line1_zpylq_8">
                                            <span class="_line_yr5zo_2"></span>
                                        </span>
                                        <span class="_line2_zpylq_9">
                                            <span class="_line_yr5zo_2"></span>
                                        </span>
                                    </span>
                                </div>
                                <div class="_profileDialogs1_1fs6u_940" data-js="index-profile-dialog-wrapper-1">
                                    <div class="_profileDialog_1fs6u_940" data-js="index-profile-dialog" style="--index:0">
                                        <div class="_profileDialogInner_1fs6u_982" data-js="index-profile-dialog-inner">
                                            <div class="_root_3fli2_1" data-js="dialog-box">
                                                <div class="_inner_3fli2_23">
                                                    <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                        <h2 class="_title_3fli2_59">profile.jpg</h2>
                                                        <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                            <span class="_closeInner_3fli2_91"></span>
                                                        </button>
                                                    </div>
                                                    <div class="_body_3fli2_117">
                                                        <img class="_profileDialogImage_1fs6u_988" src="/images/profile.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_profileDialog_1fs6u_940" data-js="index-profile-dialog" style="--index:1">
                                        <div class="_profileDialogInner_1fs6u_982" data-js="index-profile-dialog-inner">
                                            <div class="_root_3fli2_1" data-js="dialog-box">
                                                <div class="_inner_3fli2_23">
                                                    <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                        <h2 class="_title_3fli2_59">profile.jpg</h2>
                                                        <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                            <span class="_closeInner_3fli2_91"></span>
                                                        </button>
                                                    </div>
                                                    <div class="_body_3fli2_117">
                                                        <img class="_profileDialogImage_1fs6u_988" src="/images/profile.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_profileDialog_1fs6u_940" data-js="index-profile-dialog" style="--index:2">
                                        <div class="_profileDialogInner_1fs6u_982" data-js="index-profile-dialog-inner">
                                            <div class="_root_3fli2_1" data-js="dialog-box">
                                                <div class="_inner_3fli2_23">
                                                    <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                        <h2 class="_title_3fli2_59">profile.jpg</h2>
                                                        <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                            <span class="_closeInner_3fli2_91"></span>
                                                        </button>
                                                    </div>
                                                    <div class="_body_3fli2_117">
                                                        <img class="_profileDialogImage_1fs6u_988" src="/images/profile.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_profileDialog_1fs6u_940" data-js="index-profile-dialog" style="--index:3">
                                        <div class="_profileDialogInner_1fs6u_982" data-js="index-profile-dialog-inner">
                                            <div class="_root_3fli2_1" data-js="dialog-box">
                                                <div class="_inner_3fli2_23">
                                                    <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                        <h2 class="_title_3fli2_59">profile.jpg</h2>
                                                        <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                            <span class="_closeInner_3fli2_91"></span>
                                                        </button>
                                                    </div>
                                                    <div class="_body_3fli2_117">
                                                        <img class="_profileDialogImage_1fs6u_988" src="/images/profile.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_profileDialog_1fs6u_940" data-js="index-profile-dialog" style="--index:4">
                                        <div class="_profileDialogInner_1fs6u_982" data-js="index-profile-dialog-inner">
                                            <div class="_root_3fli2_1" data-js="dialog-box">
                                                <div class="_inner_3fli2_23">
                                                    <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                        <h2 class="_title_3fli2_59">profile.jpg</h2>
                                                        <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                            <span class="_closeInner_3fli2_91"></span>
                                                        </button>
                                                    </div>
                                                    <div class="_body_3fli2_117">
                                                        <img class="_profileDialogImage_1fs6u_988" src="/images/profile.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_profileDialog_1fs6u_940" data-js="index-profile-dialog" style="--index:5">
                                        <div class="_profileDialogInner_1fs6u_982" data-js="index-profile-dialog-inner">
                                            <div class="_root_3fli2_1" data-js="dialog-box">
                                                <div class="_inner_3fli2_23">
                                                    <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                        <h2 class="_title_3fli2_59">profile.jpg</h2>
                                                        <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                            <span class="_closeInner_3fli2_91"></span>
                                                        </button>
                                                    </div>
                                                    <div class="_body_3fli2_117">
                                                        <img class="_profileDialogImage_1fs6u_988" src="/images/profile.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="_profileDialogs2_1fs6u_953" data-js="index-profile-dialog-wrapper-2">
                                    <div class="_profileDialog_1fs6u_940" data-js="index-profile-dialog" style="--index:0">
                                        <div class="_profileDialogInner_1fs6u_982" data-js="index-profile-dialog-inner">
                                            <div class="_root_3fli2_1" data-js="dialog-box">
                                                <div class="_inner_3fli2_23">
                                                    <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                        <h2 class="_title_3fli2_59">profile.jpg</h2>
                                                        <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                            <span class="_closeInner_3fli2_91"></span>
                                                        </button>
                                                    </div>
                                                    <div class="_body_3fli2_117">
                                                        <img class="_profileDialogImage_1fs6u_988" src="/images/profile.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_profileDialog_1fs6u_940" data-js="index-profile-dialog" style="--index:1">
                                        <div class="_profileDialogInner_1fs6u_982" data-js="index-profile-dialog-inner">
                                            <div class="_root_3fli2_1" data-js="dialog-box">
                                                <div class="_inner_3fli2_23">
                                                    <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                        <h2 class="_title_3fli2_59">profile.jpg</h2>
                                                        <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                            <span class="_closeInner_3fli2_91"></span>
                                                        </button>
                                                    </div>
                                                    <div class="_body_3fli2_117">
                                                        <img class="_profileDialogImage_1fs6u_988" src="/images/profile.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_profileDialog_1fs6u_940" data-js="index-profile-dialog" style="--index:2">
                                        <div class="_profileDialogInner_1fs6u_982" data-js="index-profile-dialog-inner">
                                            <div class="_root_3fli2_1" data-js="dialog-box">
                                                <div class="_inner_3fli2_23">
                                                    <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                        <h2 class="_title_3fli2_59">profile.jpg</h2>
                                                        <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                            <span class="_closeInner_3fli2_91"></span>
                                                        </button>
                                                    </div>
                                                    <div class="_body_3fli2_117">
                                                        <img class="_profileDialogImage_1fs6u_988" src="/images/profile.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_profileDialog_1fs6u_940" data-js="index-profile-dialog" style="--index:3">
                                        <div class="_profileDialogInner_1fs6u_982" data-js="index-profile-dialog-inner">
                                            <div class="_root_3fli2_1" data-js="dialog-box">
                                                <div class="_inner_3fli2_23">
                                                    <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                        <h2 class="_title_3fli2_59">profile.jpg</h2>
                                                        <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                            <span class="_closeInner_3fli2_91"></span>
                                                        </button>
                                                    </div>
                                                    <div class="_body_3fli2_117">
                                                        <img class="_profileDialogImage_1fs6u_988" src="/images/profile.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_profileDialog_1fs6u_940" data-js="index-profile-dialog" style="--index:4">
                                        <div class="_profileDialogInner_1fs6u_982" data-js="index-profile-dialog-inner">
                                            <div class="_root_3fli2_1" data-js="dialog-box">
                                                <div class="_inner_3fli2_23">
                                                    <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                        <h2 class="_title_3fli2_59">profile.jpg</h2>
                                                        <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                            <span class="_closeInner_3fli2_91"></span>
                                                        </button>
                                                    </div>
                                                    <div class="_body_3fli2_117">
                                                        <img class="_profileDialogImage_1fs6u_988" src="/images/profile.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="_profileDialog_1fs6u_940" data-js="index-profile-dialog" style="--index:5">
                                        <div class="_profileDialogInner_1fs6u_982" data-js="index-profile-dialog-inner">
                                            <div class="_root_3fli2_1" data-js="dialog-box">
                                                <div class="_inner_3fli2_23">
                                                    <div class="_header_3fli2_40" data-js="dialog-box-header">
                                                        <h2 class="_title_3fli2_59">profile.jpg</h2>
                                                        <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                                            <span class="_closeInner_3fli2_91"></span>
                                                        </button>
                                                    </div>
                                                    <div class="_body_3fli2_117">
                                                        <img class="_profileDialogImage_1fs6u_988" src="/images/profile.jpg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </main>
                <footer class="_root_m7rmt_1" data-js="footer">
                    <div class="_inner_m7rmt_9">
                        <div class="_grid_m7rmt_19">
                            <div class="_wrapper_oc6qz_1" data-js="grid" data-outline="true" data-common="true">
                                <canvas></canvas>
                            </div>
                        </div>
                        <ul class="_sns_m7rmt_35">
                            <li>
                                <a href="https://x.com/osusi109/" class="_snsLink_m7rmt_45">Twitter </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/ichiki109/" class="_snsLink_m7rmt_45">Instagram </a>
                            </li>
                            <li>
                                <a href="https://ichichi.booth.pm/" class="_snsLink_m7rmt_45">BOOTH </a>
                            </li>
                        </ul>
                        <div>
                            <p class="_credit_m7rmt_59">
                                Web: <a href="https://x.com/bokoko33" target="_blank" rel="noreferrer">@bokoko33</a>
                                <br>
                                3D(mochiusa): <a href="https://x.com/nirohsy" target="_blank" rel="noreferrer">@nirohsy</a>
                                <br>
                                3D(meme-chan): <a href="https://x.com/bokoko33" target="_blank" rel="noreferrer">@bokoko33</a>
                                <br>---

                            </p>
                            <div class="_barcode_m7rmt_76">
                                <span class="_barcode_iyu6r_1" aria-hidden="true" translate="no" text="footer">footer</span>
                            </div>
                            <p class="_copyright_m7rmt_82">(c) 1:09 ichiki</p>
                        </div>
                        <div class="_glHolo_m7rmt_88" data-js="footer-gl-holo">
                            <canvas></canvas>
                        </div>
                    </div>
                    <div class="_glMeme_m7rmt_103" data-js="footer-gl-meme">
                        <canvas></canvas>
                    </div>
                </footer>
                <div class="_overlay_1lh9n_1" data-js="transition-overlay">
                    <canvas></canvas>
                </div>
            </div>
        </div>
        <div class="_scrollbar_1rdgu_1" data-scrollbar="container" data-visible="false">
            <div class="_thumb_1rdgu_17" data-scrollbar="thumb"></div>
        </div>
        <!-- at 1:09 ?? -->
        <div class="_at109_183c8_1" data-js="at109">
            <template data-js="at109-template">
                <div class="_dialog_183c8_11" data-js="at109-dialog">
                    <div class="_root_3fli2_1" data-js="dialog-box">
                        <div class="_inner_3fli2_23">
                            <div class="_header_3fli2_40" data-js="dialog-box-header">
                                <h2 class="_title_3fli2_59">at_1-09.txt</h2>
                                <button class="_close_3fli2_70" data-js="dialog-box-close" aria-label="close">
                                    <span class="_closeInner_3fli2_91"></span>
                                </button>
                            </div>
                            <div class="_body_3fli2_117">
                                <div class="_dialogBody_183c8_24">
                                    <p>1:09</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </body>
</html>
