---
import from '..components/Card.astro'
---


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
     <a href="/">Inicio</a>
	 <a href="/work/">Portfolio</a>
     <a href="/about/">Sobre mi</a>
     <a href="/contact/">Contact</a>


<h1>Home</h1>
<h2>Inicio</h2>
 <p>esta es la pagina de inicio :3</p>

 <p>aqui deberán ir los baners y landing page grl</p>

</body>
</html>