<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
</head>

<body>
     <a href="/index/">Inicio</a>
	 <a href="/work/">Portfolio</a>
     <a href="/about/">Sobre mi</a>

<h1>Work</h1>
<h2>Portfolio</h2>
<p>Esto es una prueba prueba prueba</p>
</body>
</html>